  
doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Link to Google log in
    body
        h3 take the link to log in to Google
        a(href='/auth/google')
            img(src="https://thinkingcap.blob.core.windows.net/learnerview/00000000-0000-0000-0000-000000000000/advanced/integration_googlesignin.png" style="height:100px;width:300px;")